.form-group {
    position: relative;
    margin-bottom: 1.25rem;

    &.has-error.has-danger {
        margin-bottom: 0.625rem;
    
        .help-block.with-errors ul {
            margin-top: 0.375rem;
        }
    }
}


.label-control {
    position: absolute;
    top: 0.3125rem;
    left: 1.375rem;
    color: #787976;
    opacity: 1;
    //font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	font-family: 'Open Sans';
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
    cursor: text;
    transition: all 0.2s ease;
}



.form-control-input {
    display: block;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.3125rem;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #787976;
    //font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	font-family: 'Open Sans';
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
    transition: all 0.2s;

    &:focus {
        border: 1px solid #a1a1a1;
        outline: none;
    }

    &:hover {
        border: 1px solid #a1a1a1;
    }

    &:focus+.label-control {
		top: 0.125rem;
		opacity: 1;
		font-size: 0.75rem;
		font-weight: 500;
    }
    
    &.notEmpty+.label-control {
        top: 0.125rem;
        opacity: 1;
        font-size: 0.75rem;
        font-weight: 500;
    }
}

.form-control-select {
    display: block;
    width: 100%;
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.3125rem;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #787976;
    //font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	font-family: 'Open Sans';
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
    transition: all 0.2s;

    &:focus {
        border: 1px solid #a1a1a1;
        outline: none;
    }

    &:hover {
        border: 1px solid #a1a1a1;
    }
}

select#lselect {
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../slike/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
    display: block;
    width: 100%;
    height: 8rem;
    padding-top: 1.25rem;
    padding-left: 1.3125rem;
    border: 1px solid #dadada;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #787976;
    //font: 400 1rem/1.5625rem "Open Sans", sans-serif;
	font-family: 'Open Sans';
	font-size: 1rem;
	line-height: 1.5625rem;
	font-weight: 400;
    transition: all 0.2s;

    &:focus {
        border: 1px solid #a1a1a1;
        outline: none;
    }

    &:hover {
        border: 1px solid #a1a1a1;
    }

    &:focus+.label-control {
		top: 0.125rem;
		opacity: 1;
		font-size: 0.75rem;
		font-weight: 500;
    }
    
    &.notEmpty+.label-control {
        top: 0.125rem;
        opacity: 1;
        font-size: 0.75rem;
        font-weight: 500;
    }
}


.form-control-submit-button {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    border: 0.125rem solid #146451;
    border-radius: 0.25rem;
    background-color: #146451;
    color: #fff;
    //font: 700 0.75rem/1.75rem "Montserrat", sans-serif;
	font-family: 'Montserrat';
	font-size: 0.75rem;
	line-height: 1.75rem;
	font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;

    // scss
    &:hover {
        background-color: transparent;
        color: #146451;
    }
}


#lmsgSubmit.h3.text-center {
    display: block;
    margin-bottom: 0;
    color: #b93636;
    //font: 400 1.125rem/1rem "Open Sans", sans-serif;
    font-family: 'Open Sans';
    font-size: 1.125rem;
    line-height: 1rem;
    font-weight: 400;

    &.tada.animated {
        display: block;
        margin-bottom: 0;
        color: #b93636;
        //font: 400 1.125rem/1rem "Open Sans", sans-serif;
        font-family: 'Open Sans';
        font-size: 1.125rem;
        line-height: 1rem;
        font-weight: 400;
        }
}

#cmsgSubmit.h3.text-center {
    display: block;
    margin-bottom: 0;
    color: #b93636;
    //font: 400 1.125rem/1rem "Open Sans", sans-serif;
	font-family: 'Open Sans';
	font-size: 1.125rem;
	line-height: 1rem;
	font-weight: 400;

    &.tada.animated {
        display: block;
        margin-bottom: 0;
        color: #b93636;
        //font: 400 1.125rem/1rem "Open Sans", sans-serif;
        font-family: 'Open Sans';
        font-size: 1.125rem;
        line-height: 1rem;
        font-weight: 400;
        }
}

#pmsgSubmit.h3.text-center {
    display: block;
    margin-bottom: 0;
    color: #b93636;
    //font: 400 1.125rem/1rem "Open Sans", sans-serif;
	font-family: 'Open Sans';
	font-size: 1.125rem;
	line-height: 1rem;
	font-weight: 400;

    &.tada.animated {
        display: block;
        margin-bottom: 0;
        color: #b93636;
        //font: 400 1.125rem/1rem "Open Sans", sans-serif;
        font-family: 'Open Sans';
        font-size: 1.125rem;
        line-height: 1rem;
        font-weight: 400;
        }
}

.help-block.with-errors {
    .list-unstyled {
        color: #787976;
        font-size: 0.75rem;
        line-height: 1.125rem;
        text-align: left;
    }

    ul {
        margin-bottom: 0;
    }
}


@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}