/*****************************************
Table Of Contents:

01. Contact
******************************************/

/***********************/
/*     1. Contact      */
/***********************/
.contact-me {
    padding-top: 3.625rem;
    padding-bottom: 5.625rem;
    background-color: #fbfbfb;

    @include respond-to('lg') {
        padding-top: 6.875rem;
    }

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    .text-container {
        margin-bottom: 3rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }

        @include respond-to('xl') {
            margin-top: 0.875rem;
            margin-right: 1.5rem;
        }
    }

    .map-container {
        overflow: hidden;
        max-width: 100%;
        //width: 500px;
        height: 500px;

        margin-bottom: 3rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }

        @include respond-to('xl') {
            margin-top: 0.875rem;
            margin-right: 1.5rem;
        }

        #embeddedmap-display {
            height: 100%;
            width: 100%;
            max-width: 100%;

            iframe {
                height: 100%;
                width: 100%;
                border: 0;
            }
        }
    }

    @include respond-to('xl') {
        form {
            margin-left: 1.5rem;
        }
    }

    h2 {
        margin-bottom: 1.375rem;
    }

    h3 {
        margin-bottom: 1.375rem;
    }

    .list-unstyled {
        margin-bottom: 2.25rem;
        font-size: 1rem;
        line-height: 1.625rem;

        .fas {
            margin-right: 0.5rem;
            font-size: 0.875rem;
            color: #055341;
        }

        .fa-phone {
            vertical-align: 3%;
        }

        @include respond-to('md') {
            li {
                display: inline-block;
                margin-right: 1rem;
            }

            .address {
                display: block;
            }
        }
    }

    h4 {
        margin-bottom: 1rem;
    }

    .fa-stack {
        margin-right: 0.25rem;
        margin-bottom: 0.75rem;
        margin-left: 0.125rem;
        width: 3.25rem;
        height: 3.25rem;

        .hexagon {
            position: absolute;
            width: 3.25rem;
            height: 3.25rem;
            background: url('/slike/hexagon-green.svg') center center no-repeat;
            background-size: 3.25rem 3.25rem;
            transition: all 0.2s ease;
        }

        .fa-stack-1x {
            font-size: 1.5rem;
            line-height: 3.25rem;
            color: #fff;
            transition: all 0.2s ease;
        }

        &:hover {
            .hexagon {
                background: url('/slike/hexagon-white.svg') center center
                    no-repeat;
                background-size: 3.25rem 3.25rem;
            }

            .fa-stack-1x {
                color: #055341;
            }
        }
    }
}
