/*****************************************
Table Of Contents:

01. Details 1
02. Details 2
03. Gallery
04. Questions
05. Download
06. Instructions 
******************************************/

/***********************/
/*     1. Details 1    */
/***********************/
section#details {
    padding-top: 5.5rem;
    padding-bottom: 3rem;

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }
}

.accordion {
    padding-top: 6.5rem;
    // padding-bottom: 3rem;
    background-color: #fbfbfb;

    .area-1 {
        height: 29rem;
        background: url('../slike/details/detail-1.jpg') center center no-repeat;
        background-size: cover;
    }

    .area-2 {
        @include respond-to('lg') {
            vertical-align: top;
        }
    }

    .accordion-container {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 3.375rem;
        padding-bottom: 1.5rem;

        @include respond-to('md') {
            max-width: 70%;
        }

        @include respond-to('lg') {
            max-width: 88%;
            margin-left: 2rem;
            padding-bottom: 0;
        }

        @include respond-to('xl') {
            max-width: 28rem;
            margin-left: 5rem;
        }
    }

    h2 {
        margin-bottom: 1.625rem;
    }

    h4 {
        margin-bottom: 0;
    }

    .item {
        margin-bottom: 2rem;
    }

    span[aria-expanded='true'] {
        .circle-numbering {
            display: inline-block;
            width: 2.25rem;
            height: 2.25rem;
            margin-right: 0.875rem;
            border: 0.125rem solid #055341;
            border-radius: 50%;
            background-color: #055341;
            color: #fff;
            //font: 700 1rem/2.125rem 'Montserrat', sans-serif;
            font-family: 'Montserrat';
            font-size: 1rem;
            line-height: 2.125rem;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        .accordion-title {
            color: #055341;
        }
    }

    span[aria-expanded='false'] {
        .circle-numbering {
            display: inline-block;
            width: 2.25rem;
            height: 2.25rem;
            margin-right: 0.875rem;
            border: 0.125rem solid #484a46;
            border-radius: 50%;
            background-color: transparent;
            color: #484a46;
            //font: 700 1rem/2.125rem 'Montserrat', sans-serif;
            font-family: 'Montserrat';
            font-size: 1rem;
            line-height: 2.125rem;
            font-weight: 700;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.2s ease;
        }
    }

    .item:hover {
        span[aria-expanded='false'] {
            .circle-numbering {
                border: 0.125rem solid #055341;
                color: #055341;
            }
        }

        .accordion-title {
            color: #055341;
        }
    }

    .accordion-title {
        display: inline-block;
        width: 70%;
        margin-top: 0.125rem;
        margin-bottom: 0.25rem;
        color: #484a46;
        //font: 700 1.25rem/1.75rem 'Montserrat', sans-serif;
        font-family: 'Montserrat';
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        vertical-align: middle;
        cursor: pointer;
        transition: all 0.2s ease;

        @include respond-to('lg') {
            width: 85%;
        }
    }

    .accordion-body {
        margin-left: 3.125rem;
    }

    @include respond-to('lg') {
        height: 40.625rem;
        padding-top: 6.875rem;
    }
}

/***********************/
/*     2. Details 2    */
/***********************/
.tabs {
    // padding-top: 6.5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;

    .area-1 {
        @include respond-to('lg') {
            vertical-align: top;
        }
    }

    .tabs-container {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 2.5rem;
        padding-bottom: 5.75rem;

        @include respond-to('md') {
            max-width: 70%;
        }

        @include respond-to('lg') {
            max-width: 88%;
            margin-left: 2rem;
            padding-top: 4.75rem;
            padding-bottom: 0;
        }

        @include respond-to('xl') {
            max-width: 28rem;
            margin-right: 5rem;
            margin-left: auto;
        }
    }

    .nav-tabs {
        justify-content: center;
        margin-bottom: 1.125rem;
        border-bottom: none;

        @include respond-to('lg') {
            justify-content: flex-start;
        }
    }

    .nav-link {
        margin-right: 1.625rem;
        margin-bottom: 0.875rem;
        padding: 0;
        border: none;
        border-radius: 0.25rem;
        color: #c1cace;
        //font: 700 1.375rem/1.375rem 'Montserrat', sans-serif;
        font-family: 'Montserrat';
        font-size: 1.375rem;
        line-height: 1.375rem;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover {
            color: #055341;
        }

        &.active {
            color: #055341;
        }

        .fas {
            margin-right: 0.125rem;
            font-size: 0.875rem;
            vertical-align: 20%;
        }
    }

    #tab-1 {
        .progress-container {
            margin-top: 1.5rem;

            .title {
                margin-bottom: 0.25rem;
                color: #484a46;
                //font: 600 0.875rem/1.25rem 'Open Sans', sans-serif;
                font-family: 'Open Sans';
                font-size: 0.875rem;
                line-height: 1.25rem;
                font-weight: 600;
            }
        }

        .progress {
            height: 1.375rem;
            margin-bottom: 1.125rem;
            border-radius: 0.125rem;
            background-color: #f9fafc;
        }

        .progress-bar {
            display: block;
            padding-left: 1.5rem;
            border-radius: 0.125rem;
            background: linear-gradient(to bottom right, #055341, #7ba199e5);

            &.first {
                width: 100%;
            }

            &.second {
                width: 75%;
            }

            &.third {
                width: 90%;
            }
        }
    }

    #tab-2 {
        .list-unstyled {
            margin-top: 1.75rem;
            margin-bottom: 0;
            vertical-align: top;

            .media {
                margin-bottom: 2rem;
            }

            .media-bullet {
                color: #055341;
                font-weight: 600;
                font-size: 2rem;
                line-height: 2rem;
            }

            .media-body {
                margin-left: 0.875rem;
            }

            @include respond-to('md') {
                display: inline-block;
                width: 45%;
                margin-top: 0;
            }

            &.first {
                @include respond-to('md') {
                    margin-right: 2rem;
                }
            }
        }

        .media-wrapper {
            &.first {
                @include respond-to('xl') {
                    margin-right: 2rem;
                }
            }
        }
    }

    #tab-3 {
        .list-unstyled {
            margin-bottom: 1.75rem;

            .fas {
                color: #055341;
                font-size: 0.5rem;
                line-height: 1.375rem;
            }

            .media-body {
                margin-left: 0.625rem;
            }
        }
    }

    .area-2 {
        height: 29rem;
        background: url('../slike/details/detail-2.jpg') center center no-repeat;
        background-size: cover;
    }

    @include respond-to('lg') {
        height: 36.625rem;
        // padding-top: 6.875rem;
    }
}

/************************/
/*     03. Gallery      */
/************************/
.sections-gallery {
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
    background: #f5f8f8;

    .gallery-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all ease-in-out 0.4s;
    }

    .gallery-item {
        overflow: hidden;
        position: relative;
        padding: 0;
        vertical-align: middle;
        text-align: center;

        img {
            transition: all ease-in-out 0.4s;
            width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            .gallery-overlay {
                opacity: 1;
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 1.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }
}

/*************************/
/*     04. Questions     */
/*************************/
.sections-questions {
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    background: #f5f8f8;

    #faq-list {
        padding: 0;
        list-style: none;

        li {
            border-bottom: 1px solid #ddd;
        }

        a {
            padding: 18px 0;
            display: block;
            position: relative;
            //font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            line-height: 1.2;
            font-weight: 500;
            padding-right: 20px;
            color: #055341;
            text-decoration: underline;

            &.collapse {
                color: #055341;
            }

            &.collapsed {
                color: #000;
                text-decoration: none;

                i::before {
                    content: '\f2c7' !important;
                }
            }

            @include respond-to('md') {
                font-size: 1rem;
            }
        }

        i {
            font-size: 1.1rem;
            position: absolute;
            right: 0;
            top: 13px;

            @include respond-to('md') {
                top: 16px;
            }
        }

        p {
            margin-bottom: 20px;
            font-size: 1rem;
            font-weight: 400;
            color: gray;
        }
    }

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 1.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 200px;
            height: 3px;
            background: #055341;
            background: linear-gradient(0deg, #055341 0%, #55fabe 100%);
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }
}

/************************/
/*     05. Download     */
/************************/
.download {
    background: #055341;
    color: #cbd89b;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;

    h1 {
        color: #ffffff;

        &::before {
            background-color: #055341;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    .lead {
        color: #cbd89b;
        margin-top: 4.8rem;
    }

    .download-badges {
        list-style: none;
        margin: 0;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 7.5px;
            padding-left: 0;

            a {
                display: block;
                width: 194px;
                height: 60px;
                font: 0/0 a;
                text-shadow: none;
                color: transparent;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 194px 60px;

                &.badge-appstore {
                    background-image: url('/slike/download/appstore.png');
                }

                &.badge-googleplay {
                    background-image: url('../slike/download/google-play.png');
                }

                @include respond-to('md') {
                    width: 230px;
                    height: 71px;
                    background-size: 230px 71px;
                }
            }
        }
    }
}

/*****************************/
/*     06. Instructions      */
/*****************************/
.how-to-work {
    padding-top: 3.2rem;
    padding-bottom: 4.4rem;

    h1 {
        &.intro-header {
            text-align: center;
            font-size: 1.6rem;
            color: #111;
            font-weight: 700;
            position: relative;
            padding-bottom: 0.6rem;
            margin: auto;

            &::before {
                display: block;
                content: '';
                height: 2px;
                width: 300px;
                background-color: #055341;
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
    }

    .how-to-work-content {
        position: relative;
        width: 100%;
        max-width: 1000px;
        min-height: 300px;
        margin-top: 3.2rem;
        margin-left: auto;
        margin-right: auto;
        clear: both;

        &::before {
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
            left: 50%;
        }

        .how-to-work-steps {
            width: 100%;
        }

        .step {
            padding: 0 40px 1.5rem 60px;
            position: relative;
            min-height: 240px;

            h3 {
                margin-bottom: 2.4rem;
            }

            &::before {
                display: block;
                font-family: 'muli-bold';
                font-size: 2rem;
                content: attr(data-item);
                color: #ffffff;
                height: 54px;
                width: 54px;
                line-height: 54px;
                text-align: center;
                border-radius: 50%;
                background-color: #055341;
                box-shadow: 0 0 0 15px #ffffff;
                z-index: 500;
                position: absolute;
                top: -12px;
                left: -27px;
            }
        }
    }

    @include respond-from('xl') {
        .how-to-work-content {
            max-width: 800px;
        }
    }

    @include respond-from('lg') {
        .how-to-work-content {
            max-width: 650px;

            &::after {
                display: none;
            }

            .step {
                width: 100% !important;
                float: none !important;
                clear: both !important;
                margin-left: 0;
                margin-right: 0;
                padding-right: 18px;
                min-height: auto;
                padding: 0 40px 0.9rem 60px;
            }
        }
    }

    @include respond-from('md') {
        .how-to-work-content {
            &::before {
                left: 30px;
            }

            .step {
                padding: 0 10px 0 80px;

                &::before {
                    font-size: 1.6rem;
                    height: 45px;
                    width: 45px;
                    line-height: 45px;
                    top: -9px;
                    left: 7.5px;
                }
            }
        }
    }

    @include respond-from('sm') {
        .how-to-work-content {
            text-align: center;

            &::before {
                display: none;
            }

            .step {
                padding: 60px 0 0 0;

                &::before {
                    top: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
            }
        }
    }
}
