/*****************************************
Table Of Contents:

01. Extra Pages
******************************************/

/******************************/
/*     01. Extra Pages        */
/******************************/
.ex-header {
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-color: #153e52;
    text-align: center;

    @include respond-to('md') {
        padding-top: 11rem;
        padding-bottom: 9rem;
    }

    h1 {
        color: #fff;

        &.display-4 {
            text-align: left;
            margin-left: 2rem;
            margin-top: -10rem;
        }
    }
}

.ex-header-specific {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    background-color: #153e52;
    text-align: center;

    @include respond-to('md') {
        padding-top: 5.5rem;
        padding-bottom: 4.5rem;
    }

    h1 {
        color: #fff;

        &.display-4 {
            text-align: left;
            margin-left: 2rem;
            margin-top: -4.5rem;
        }
    }
}

.ex-basic-1 {
    padding-top: 2rem;
    padding-bottom: 0.875rem;
    background-color: #fbfbfb;

    .breadcrumbs {
        margin-bottom: 1rem;

        .fa {
            margin-right: 0.5rem;
            margin-left: 0.625rem;
        }
    }
}

.ex-basic-2 {
    padding-top: 4.75rem;
    padding-bottom: 4rem;

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    h3 {
        margin-bottom: 1rem;
    }

    .text-container {
        margin-bottom: 3.625rem;

        &.last {
            margin-bottom: 0;
        }
    }

    .list-unstyled {
        .fas {
            color: #146451;
            font-size: 0.5rem;
            line-height: 1.375rem;
        }

        .media-body {
            margin-left: 0.625rem;
        }
    }

    .form-container {
        margin-top: 2.5rem;
    }

    .btn-outline-reg {
        margin-top: 1.75rem;
    }
}
