/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Intro
06. Description
07 Features
08. About
09. Call Me
10. Pricing
11. Footer
12. Copyright
13. Back To Top Button
******************************************/

/******************************/
/*     01. General Styles     */
/******************************/
.section-title {
    color: #133aa5;
    //font: 500 0.8125rem/1.125rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 500;
    font-size: 0.8rem;
    font-weight: bold;

    margin-bottom: 0.5rem;

    @include when-inside('#callme') {
        color: #cbd89b;
    }
}

strong {
    color: #484a46;
}

a {
    color: #787976;
    text-decoration: underline;

    &:hover {
        color: #787976;
        text-decoration: underline;
    }

    &.green {
        color: #055341;
    }

    &.white {
        color: #dfe5ec;
    }
}

.white {
    color: #dfe5ec;
}

.yellow {
    color: #f1f204;
}

.p-small {
    //font: 400 0.875rem/1.375rem 'Open Sans', sans-serif;
    font-family: 'Open Sans';
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

.p-large {
    //font: 400 1.125rem/1.625rem 'Open Sans', sans-serif;
    font-family: 'Open Sans';
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 400;
}

.testimonial-text {
    font-style: italic;
}

.testimonial-author {
    //font: 700 1rem/1.375rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 700;
}

body,
p {
    color: #787976;
    //font: 400 1rem/1.5625rem 'Open Sans', sans-serif;
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 400;
}

h1 {
    color: #484a46;
    //font: 700 2.5rem/3rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
}

h2 {
    color: #484a46;
    //font: 700 1.75rem/2.125rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: 700;
}

h3 {
    color: #484a46;
    //font: 700 1.375rem/1.75rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 700;
}

h4 {
    color: #484a46;
    //font: 700 1.25rem/1.625rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
}

h5 {
    color: #484a46;
    //font: 700 1.125rem/1.5rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 1.125em;
    line-height: 1.5rem;
    font-weight: 700;
}

h6 {
    color: #484a46;
    //font: 700 1rem/1.375rem 'Montserrat', sans-serif;
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 700;
}

li {
    @include when-inside('.li-space-lg') {
        margin-bottom: 0.375rem;
    }
}

/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1c7544;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem;
    text-align: center;

    > div {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: #fff;
        animation: sk-bouncedelay 2.8s infinite ease-in-out both;
    }

    .bounce1 {
        animation-delay: -0.32s;
    }

    .bounce2 {
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

/**************************/
/*     03. Navigation     */
/**************************/
.nav {
    @include when-inside('.pricing') {
        max-width: 260px;
    }
}

.navbar-custom {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    background-color: #113448;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
    //font: 600 0.875rem/0.875rem 'Open Sans', sans-serif;
    font-family: 'Open Sans';
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 600;
    transition: all 0.2s;

    // scss
    .nav-item {
        .nav-link {
            padding: 0.625rem 0.75rem 0.625rem 0.75rem;
            color: #fff;
            text-decoration: none;
            transition: all 0.2s ease;

            &:hover {
                color: #055341;
            }

            &.active {
                color: #055341;
            }
        }
    }

    .dropdown {
        &:hover {
            > .dropdown-menu {
                display: block;
                min-width: auto;
                animation: fadeDropdown 0.2s;
            }
        }
    }

    .dropdown-toggle:focus {
        outline: 0;
    }

    .dropdown-menu {
        margin-top: 0;
        border: none;
        border-radius: 0.25rem;
        background-color: #113448;
    }

    .dropdown-item {
        color: #fff;
        text-decoration: none;

        .item-text {
            //font: 600 0.875rem/0.875rem 'Open Sans', sans-serif;
            font-family: 'Open Sans';
            font-size: 0.875rem;
            line-height: 0.875rem;
            font-weight: 600;
        }

        &:hover {
            background-color: #113448;

            .item-text {
                color: #055341;
            }
        }
    }

    .dropdown-items-divide-hr {
        width: 100%;
        height: 1px;
        margin: 0.75rem auto 0.75rem auto;
        border: none;
        background-color: #b5bcc4;
        opacity: 0.2;
    }

    button[aria-expanded='false'] {
        .navbar-toggler-awesome.fas.fa-times {
            display: none;
        }

        .navbar-toggler-awesome.fas.fa-bars {
            display: inline-block;
        }
    }

    button[aria-expanded='true'] {
        .navbar-toggler-awesome.fas.fa-bars {
            display: none;
        }

        .navbar-toggler-awesome.fas.fa-times {
            display: inline-block;
            margin-right: 0.125rem;
        }
    }
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*********************/
/*    04. Header     */
/*********************/
.jumbotron {
    color: white !important;
    background: url('/slike/header/header.jpg') no-repeat center center;
    background-size: cover;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    @include respond-to('lg') {
        padding: {
            top: 8rem;
            bottom: 8rem;
        }
    }

    .container {
        position: relative;
        z-index: 99;

        @include respond-to('sm') {
            padding: {
                left: 0;
                right: 0;
            }
        }

        @include respond-to('lg') {
            padding: {
                left: 15px;
                right: 15px;
            }
        }

        h1 {
            color: #fff;
        }

        p {
            color: #fff;
        }
    }

    .btn-solid-lg {
        margin-right: 0.5rem;
        margin-bottom: 1.25rem;
        border-width: 3px;

        &:hover {
            color: #fff; // #055341;
        }
    }
}

/*********************/
/*     05. Intro     */
/*********************/
.intro-1 {
    padding-top: 6.5rem;
    padding-bottom: 3rem;

    .text-container {
        margin-bottom: 3rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }

        @include respond-to('xl') {
            margin: {
                top: 1.875rem;
                right: 3rem;
            }
        }
    }

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    h2 {
        margin-bottom: 1.375rem;
    }

    .testimonial-author {
        color: #484a46;
    }

    .image-container {
        overflow: hidden;
        border-radius: 0.25rem;

        img {
            margin: 0;
            border-radius: 0.25rem;
            transition: all 0.3s;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }
        }
    }

    @include respond-to('lg') {
        padding-top: 6.875rem;
    }
}

/***************************/
/*     06. Description     */
/***************************/
.cards-description {
    padding-top: 3rem;
    padding-bottom: 2.875rem;

    .card {
        margin-bottom: 2.5rem;
        border: none;
        text-align: center;

        @include respond-to('lg') {
            display: inline-block;
            max-width: 17.5rem;
            text-align: left;
            vertical-align: top;
        }

        @include respond-to('xl') {
            max-width: 21rem;
        }
    }

    .fa-stack {
        width: 6rem;
        height: 6rem;
        margin-right: auto;
        margin-bottom: 1rem;
        margin-left: auto;
        line-height: 6rem;
        text-align: left;

        .hexagon {
            position: absolute;
            width: 6rem;
            height: 6rem;
            background: url('/slike/hexagon-green.svg') center center no-repeat;
            background-size: 6rem 6rem;
            transition: all 0.2s ease;
        }
    }

    .fa-stack-1x {
        color: #fff;
        font-size: 2rem;
    }

    .card-body {
        padding: 0;
    }

    .card-title {
        margin-bottom: 0.625rem;
    }

    div.card:nth-child(3n + 2) {
        @include respond-to('lg') {
            margin-right: 2.5rem;
            margin-left: 2.5rem;
        }

        @include respond-to('xl') {
            margin-right: 2.875rem;
            margin-left: 2.875rem;
        }
    }
}

/*************************/
/*     07. Features      */
/*************************/
.sections-features {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    background: #e9eae1;
    overflow: hidden;

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 1.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 200px;
            height: 3px;
            background: #055341;
            background: linear-gradient(0deg, #055341 0%, #55fabe 100%);
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    .box {
        padding: 40px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
        background: #fff;
        transition: 0.4s;

        min-height: 15rem;

        @include respond-from('xl') {
            min-height: 16.5rem;
        }

        @include respond-from('lg') {
            min-height: 12rem;
        }

        @include respond-from('md') {
            margin-bottom: 20px;
        }
    }

    .icon {
        float: left;

        i {
            color: #666666;
            font-size: 80px;
            transition: 0.5s;
            line-height: 0;

            &:before {
                background: #1dc8cd;
                background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        @include respond-from('md') {
            float: none;
            text-align: center;
            padding-bottom: 15px;
        }
    }

    h4 {
        margin-left: 100px;
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;

        a {
            color: #111;
        }

        @include respond-from('md') {
            margin-left: 0;
            text-align: center;
        }
    }

    p {
        font-size: 14px;
        margin-left: 100px;
        margin-bottom: 0;
        line-height: 24px;

        @include respond-from('md') {
            margin-left: 0;
            text-align: center;
        }
    }
}

/*********************/
/*    08. About      */
/*********************/
.counter-about {
    padding-top: 6.875rem;
    padding-bottom: 5.25rem;

    @include respond-to('xl') {
        padding-bottom: 6.125rem;
    }

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    .image-container {
        margin-bottom: 3rem;

        img {
            border-radius: 0.25rem;
        }

        @include respond-to('lg') {
            margin-bottom: 0;
        }

        @include respond-to('xl') {
            margin-right: 1.5rem;
        }
    }

    .section-title {
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-bottom: 1.375rem;
    }

    .list-unstyled {
        margin-bottom: 1.5rem;

        .fas {
            color: #055341;
            font-size: 0.5rem;
            line-height: 1.375rem;
        }

        .media-body {
            margin-left: 0.625rem;
        }
    }

    .text-container {
        @include respond-to('xl') {
            margin-top: 0.375rem;
            margin-right: 2.5rem;
            margin-left: 2rem;
        }
    }

    #counter {
        text-align: center;

        @include respond-to('md') {
            text-align: left;
        }

        .cell {
            display: inline-block;
            width: 9.5rem;
            margin-bottom: 0.75rem;
        }

        .counter-value {
            display: inline-block;
            margin-bottom: 0.125rem;
            color: #055341;
            //font: 700 2.875rem/3.25rem 'Montserrat', sans-serif;
            font-family: 'Montserrat';
            font-size: 2.875rem;
            line-height: 3.25rem;
            font-weight: 700;
            vertical-align: middle;
        }

        .counter-info {
            display: inline-block;
            margin-left: 0.5rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            vertical-align: middle;
        }
    }
}

.basic-about {
    padding-top: 6.375rem;
    padding-bottom: 3.375rem;
    //background-color: #fbfbfb;
    text-align: center;

    h2 {
        margin-bottom: 0.75rem;
        text-align: center;
    }

    .team-member {
        //display: inline-block;
        max-width: 13rem;
        margin-right: auto; //1.5rem;
        margin-bottom: 3.5rem;
        margin-left: auto; //1.5rem;

        .p-large {
            margin-bottom: 0.25rem;
        }

        .job-title {
            margin-bottom: 0.75rem;
            color: #484a46;
            //font: 700 1rem/1.375rem 'Montserrat', sans-serif;
            font-family: 'Montserrat';
            font-size: 1rem;
            line-height: 1.375rem;
            font-weight: 700;
        }

        @include respond-to('md') {
            display: inline-block;
            width: 12.5rem;
            margin-right: 2rem;
            margin-left: 2rem;
            vertical-align: top;
        }

        @include respond-to('xl') {
            margin-right: 2.25rem;
            margin-left: 2.25rem;
        }
    }

    .image-wrapper {
        overflow: hidden;
        margin-bottom: 1.5rem;
        border-radius: 50%;

        img {
            margin: 0;
            transition: all 0.3s;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }
        }
    }

    .fa-stack {
        margin-top: 0.375rem;
        margin-right: 0.125rem;
        margin-left: 0.125rem;
        font-size: 0.875rem;

        &:hover {
            .fa-stack-2x {
                color: #00a7bd;
            }

            .fa-stack-1x {
                color: #fff;
            }
        }
    }

    .fa-stack-2x {
        color: #055341;
        transition: all 0.2s ease;
    }

    .fa-stack-1x {
        color: #fff;
        transition: all 0.2s ease;
    }
}

.p-heading {
    margin-bottom: 3.5rem;
    text-align: center;

    @include respond-to('md') {
        width: 85%;

        margin: {
            right: auto;
            left: auto;
        }
    }

    @include respond-to('lg') {
        width: 65%;
    }

    @include respond-to('xl') {
        width: 55%;
    }
}

/**********************/
/*     09. Call Me    */
/**********************/
.call-me {
    padding-top: 6.625rem;
    padding-bottom: 5.625rem;
    background-color: #153e52;

    @include respond-to('lg') {
        padding-top: 7rem;
    }

    .text-container {
        margin-bottom: 4rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }

        @include respond-to('xl') {
            margin-top: 1.375rem;
            margin-right: 1.75rem;
            margin-left: 3rem;
        }
    }

    @include respond-to('xl') {
        form {
            margin-left: 1.75rem;
            margin-right: 3rem;
        }
    }

    .section-title {
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-bottom: 1.375rem;
        color: #fff;
    }

    .list-unstyled {
        .fas {
            color: #055341;
            font-size: 0.5rem;
            line-height: 1.375rem;
        }

        .media-body {
            margin-left: 0.625rem;
        }
    }

    .label-control {
        color: #787976;
    }

    .form-control-input {
        border: 1px solid #39728f;
        background-color: #2a5d77;
        color: #fff;

        &:focus {
            border: 1px solid #fff;
        }

        &:hover {
            border: 1px solid #fff;
        }
    }

    .form-control-select {
        border: 1px solid #39728f;
        background-color: #2a5d77;
        color: #fff;

        &:focus {
            border: 1px solid #fff;
        }

        &:hover {
            border: 1px solid #fff;
        }
    }

    .form-control-textarea {
        border: 1px solid #39728f;
        background-color: #2a5d77;
        color: #fff;

        &:focus {
            border: 1px solid #fff;
        }

        &:hover {
            border: 1px solid #fff;
        }
    }

    .help-block.with-errors .list-unstyled {
        color: #dfe5ec;
    }
}

#lmsgSubmit.h3.text-center {
    color: #fff;

    &.tada.animated {
        color: #fff;
    }
}

/*********************/
/*    10. Pricing    */
/*********************/
.card-price {
    padding-top: 3.5rem;
    padding-bottom: 3rem;

    .nav-pills {
        .nav-link {
            &.active {
                color: #fff;
                background-color: #055341;
            }
        }
    }
}

.card {
    @include when-inside('#pricing') {
        box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
        transition: all 0.5s ease-in-out;
        padding: 1.25rem 0;
        position: relative;
        will-change: transform;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 5px;
            background-color: $card-primary-color;
            transition: 0.3s;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);

            &:after {
                width: 100%;
            }
        }
    }
}

.card-body {
    @include when-inside('#schedule') {
        padding: 0.2em;
    }
}

.card-footer {
    .btn-outline-reg {
        background-color: transparent;
        color: #055341;
        border: 0.125rem solid #055341;

        &:hover {
            background-color: #055341;
            color: #fff;
        }
    }
}

.ribbon-wrapper-red {
    width: 86px;
    height: 86px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ribbon-red {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 5px;
    transform: rotate(45deg);
    position: relative;
    left: -10px;
    top: -36px;
    width: 160px;
    background-color: rgb(190, 52, 10);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgb(243, 147, 118)),
        to(rgb(190, 52, 10))
    );
}

/**********************/
/*     11. Footer     */
/**********************/
.footer {
    padding-top: 5rem;
    background-color: #113448;

    .text-container {
        margin-bottom: 2.25rem;

        &.about {
            @include respond-to('xl') {
                margin-right: 5rem;
            }
        }
    }

    h4 {
        margin-bottom: 0.75rem;
        color: #fff;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    ul {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

/*************************/
/*     12. Copyright     */
/*************************/
.copyright {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: #113448;
    text-align: center;
}

/**********************************/
/*     13. Back To Top Button     */
/**********************************/
a {
    &.back-to-top {
        position: fixed;
        z-index: 999;
        right: 0.75rem;
        bottom: 0.75rem;
        display: none;
        width: 2.625rem;
        height: 2.625rem;
        border-radius: 1.875rem;
        background: #055341 url('/slike/up-arrow.png') no-repeat center 47%;
        background-size: 1.125rem 1.125rem;
        text-indent: -9999px;
    }

    &:hover {
        &.back-to-top {
            background-color: #178b70;
        }
    }
}
