/*****************************************
Table Of Contents:

01. Location
******************************************/

/***********************/
/*     1. Location     */
/***********************/
.my-location {
    padding-top: 3.625rem;
    padding-bottom: 5.625rem;
    background-color: #fbfbfb;

    @include respond-to('lg') {
        padding-top: 6.875rem;
    }

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 50px;

        @include respond-from('lg') {
            flex-direction: column;
            align-items: flex-start;
        }

        label {
            margin: 5px 10px 5px 0;
            color: #787976;
            opacity: 1;
            //font: 400 0.875rem/1.375rem 'Open Sans', sans-serif;
            font-family: 'Open Sans';
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-weight: 400;
            transition: all 0.2s ease;
        }

        input {
            vertical-align: middle;
            margin: 5px 10px 5px 0;
            min-width: 300px;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.3125rem;
            border: 1px solid #dadada;
            border-radius: 0.25rem;
            background-color: #fff;
            color: #787976;
            //font: 400 0.875rem/1.375rem 'Open Sans', sans-serif;
            font-family: 'Open Sans';
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-weight: 400;
            transition: all 0.2s;

            @include respond-from('lg') {
                margin: 10px 0;
            }
        }

        button {
            margin-left: 5px;
            padding: 10px 25px;
            height: 3.125rem;
            border: 0.125rem solid #146451;
            border-radius: 0.25rem;
            background-color: #146451;
            color: #fff;
            //font: 700 0.75rem/1.75rem 'Montserrat', sans-serif;
            font-family: 'Montserrat';
            font-size: 0.75rem;
            line-height: 1.75rem;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.2s;

            @include respond-from('lg') {
                margin: 10px 0;
            }

            &:hover {
                background-color: transparent;
                color: #146451;
            }
        }
    }

    .map-container {
        overflow: hidden;
        max-width: 100%;
        height: 600px;
        margin-bottom: 3rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }

        @include respond-to('xl') {
            margin-top: 0.875rem;
            margin-right: 1.5rem;
        }

        .map {
            max-width: none;
            width: 100%;
            height: 600px !important;
        }
    }
}
