/*****************************************
Table Of Contents:

01. Projects
02. Projects lightbox
03. Projects video
04. Services
05. Testimonials
******************************************/

/***********************/
/*     1. Projects     */
/***********************/
.filter-project {
    padding-top: 6.5rem;
    padding-bottom: 7rem;
    background-color: #fbfbfb;

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    h2 {
        margin-bottom: 3.25rem;
        text-align: center;
    }

    .button-group {
        text-align: center;

        a {
            display: inline-block;
            margin-right: 0.1875rem;
            margin-bottom: 0.5rem;
            margin-left: 0.1875rem;
            padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
            border-radius: 0.25rem;
            background-color: #f1f4f7;
            color: #7b7e85;
            //font: 700 0.75rem/1.25rem 'Montserrat', sans-serif;
            font-family: 'Montserrat';
            font-size: 0.75rem;
            line-height: 1.25rem;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                background-color: #055341;
                color: #fff;
            }

            &.button {
                &.is-checked {
                    background-color: #055341;
                    color: #fff;
                }
            }
        }
    }

    .grid {
        margin-top: 1.25rem;
        border-radius: 0.375rem;
    }

    .element-item {
        position: relative;
        float: left;
        overflow: hidden;
        width: 50%;
        background-color: #000;

        @include respond-to('md') {
            width: 25%;
        }

        @include respond-to('xl') {
            width: 17.3125rem;
            height: 16.875rem;
        }

        img {
            max-width: 100%;
            margin: 0;
            transition: all 0.3s;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }

            @include respond-to('md') {
                .element-item-overlay {
                    opacity: 1;
                }
            }
        }

        .element-item-overlay {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 1;
            text-align: center;
            transition: all 0.3s;

            @include respond-to('md') {
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            span {
                position: absolute;
                z-index: 3;
                top: 42%;
                right: 0;
                left: 0;
                color: #fff;
                //font: 700 1.125rem/1.625rem 'Montserrat', sans-serif;
                font-family: 'Montserrat';
                font-size: 1.125rem;
                line-height: 1.625rem;
                font-weight: 700;

                @include respond-to('xl') {
                    top: 45%;
                }
            }
        }
    }
}

/*******************************/
/*     2. Projects lightbox    */
/*******************************/
.lightbox-basic {
    position: relative;
    max-width: 62.5rem;
    margin: 2.5rem auto;
    padding: 1.5625rem;
    border-radius: 0.25rem;
    background: #fff;
    text-align: left;

    img {
        margin-right: auto;
        margin-bottom: 2rem;
        margin-left: auto;
        border-radius: 0.25rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }
    }

    .line-heading {
        width: 3rem;
        height: 1px;
        margin-top: 0;
        margin-bottom: 0.625rem;
        margin-left: 0;
        border: none;
        background-color: #055341;
    }

    h3 {
        @include respond-to('lg') {
            margin-top: 0.375rem;
        }
    }

    h6 {
        margin-bottom: 2rem;
    }

    .testimonial-container {
        margin-top: 1.75rem;
        margin-bottom: 2.125rem;
        padding: 1.125rem 1.5rem 1.125rem 1.5rem;
        border-radius: 0.25rem;
        background-color: #fbfbfb;
    }

    .testimonial-text {
        margin-bottom: 0.5rem;
    }

    .testimonial-author {
        margin-bottom: 0;
    }

    .btn-solid-reg {
        margin-right: 0.375rem;
        margin-bottom: 1rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }
    }

    .btn-outline-reg {
        margin-right: 0.375rem;
        margin-bottom: 1rem;

        @include respond-to('lg') {
            margin-bottom: 0;
        }
    }

    a {
        &.mfp-close {
            &.as-button {
                position: relative;
                width: auto;
                height: auto;
                margin-right: 0.5rem;
                color: #484a46;
                opacity: 1;

                &:hover {
                    color: #f2f2f2;
                }
            }
        }
    }

    button {
        &.mfp-close {
            &.x-button {
                position: absolute;
                top: -0.375rem;
                right: -0.375rem;
                width: 2.75rem;
                height: 2.75rem;
            }
        }
    }
}

/****************************/
/*     3. Projects video    */
/****************************/
.video-project {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    overflow-x: hidden;

    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
        overflow: hidden;
    }

    .project-video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.video-gallery-project {
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    #video-player {
        display: table;
        line-height: 0;
        font-size: 0;
        background: #000;

        video {
            display: table-cell;
            vertical-align: top;

            @include respond-from('md') {
                display: table-row;
            }
        }

        figcaption {
            display: table-cell;
            vertical-align: top;
            width: 25%;

            @include respond-from('md') {
                display: table-row;
            }

            a {
                display: block;
                opacity: 0.5;
                transition: 1s opacity;

                @include respond-from('md') {
                    display: inline-block;
                    width: 33.33%;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    figure {
        video {
            width: 100%;
            height: auto;
        }
    }
}

/***********************/
/*     4. Services     */
/***********************/
.cards-services {
    padding-top: 6.625rem;
    padding-bottom: 1.25rem;
    background-color: #fbfbfb;

    .section-header {
        .section-title {
            font-size: 1.6rem;
            color: #111;
            text-align: center;
            font-weight: 700;
        }

        .section-description {
            text-align: center;
            padding: 0.5rem 0;
            color: #111;
            font-style: italic;
        }

        .section-divider {
            display: block;
            width: 150px;
            height: 3px;
            background: #055341;
            margin: 1rem auto;
            margin-bottom: 1rem;
        }
    }

    h2 {
        margin-bottom: 3.25rem;
        text-align: center;
    }

    .card {
        margin-bottom: 5.625rem;
        border: none;
        background-color: transparent;

        @include respond-to('lg') {
            max-width: 18.25rem;
            display: inline-block;
            vertical-align: top;
        }

        @include respond-to('xl') {
            max-width: 20.875rem;
        }
    }

    .card-image {
        img {
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }
    }

    .card-body {
        padding: 2.25rem 2rem 2.125rem 2rem;
        border: 1px solid #ebe8e8;
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        background-color: #fff;

        @include respond-to('xl') {
            padding: 2.25rem 2.5rem 2.125rem 2.5rem;
        }
    }

    h3 {
        margin-bottom: 0.75rem;
        text-align: center;
    }

    .list-unstyled {
        margin-bottom: 1.5rem;

        .fas {
            color: #055341;
            font-size: 0.5rem;
            line-height: 1.375rem;
        }

        .media-body {
            margin-left: 0.625rem;
        }
    }

    .price {
        margin-bottom: 0.25rem;
        color: #484a46;
        //font: 700 1rem/1.5rem 'Montserrat', sans-serif;
        font-family: 'Montserrat';
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        text-align: center;

        span {
            color: #055341;
        }
    }

    .button-container {
        margin-top: -1.375rem;
        text-align: center;
    }

    .btn-solid-reg {
        &:hover {
            background-color: #fff;
        }
    }

    .col-lg-12 div.card:nth-child(3n + 2) {
        @include respond-to('lg') {
            margin-right: 1.25rem;
            margin-left: 1.25rem;
        }

        @include respond-to('xl') {
            margin-right: 3rem;
            margin-left: 3rem;
        }
    }
}

/***************************/
/*     5. Testimonials     */
/***************************/
.slider {
    padding-top: 6.375rem;
    padding-bottom: 6.5rem;
    background-color: #fbfbfb;

    h2 {
        margin-bottom: 0.75rem;
        text-align: center;
    }

    .slider-container {
        position: relative;
    }

    .swiper-container {
        position: static;
        width: 90%;
        text-align: center;
    }

    .swiper-button-prev {
        left: -0.5rem;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23787976'%2F%3E%3C%2Fsvg%3E");
        background-size: 1.125rem 1.75rem;

        &:focus {
            outline: none;
        }

        @include respond-to('md') {
            left: 1rem;
            width: 1.375rem;
            background-size: 1.375rem 2.125rem;
        }
    }

    .swiper-button-next {
        right: -0.5rem;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23787976'%2F%3E%3C%2Fsvg%3E");
        background-size: 1.125rem 1.75rem;

        &:focus {
            outline: none;
        }

        @include respond-to('md') {
            right: 1rem;
            width: 1.375rem;
            background-size: 1.375rem 2.125rem;
        }
    }

    .card {
        position: relative;
        border: none;
        background-color: transparent;

        .card-body {
            padding-bottom: 0;
        }
    }

    .card-image {
        width: 6rem;
        height: 6rem;
        margin-right: auto;
        margin-bottom: 0.25rem;
        margin-left: auto;
        border-radius: 50%;
    }

    .testimonial-text {
        margin-bottom: 0.625rem;
    }

    .testimonial-author {
        color: #484a46;
    }
}
