@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

@mixin respond-from($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

@mixin when-inside($context) {
    #{$context} & {
        @content;        
    }
}

@mixin when-have($context) {
    & #{$context} {
        @content;
    }
}