//------------------------------------------------------------
// This file contains all app-wide Sass variables
//------------------------------------------------------------

// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------
$text-font-stack: 'Work Sans', sans-serif;


//------------------------------------------------------------
// COLORS
//------------------------------------------------------------

$dark: #212b36;
$light: #f9fafb;
$dark-red: #b50e0e;

$primary: #485dc8;
$danger: #ed1c24;
$success: #219653;
$warning: #f2994a;

$error: rgba($dark-red, .8);


//------------------------------------------------------------
// ACCESSIBILITY
//------------------------------------------------------------

$breakpoints: ('sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px);

$shadows: (
    'Elevation_1': 0px 4px 8px rgba(0, 0, 0, .08),
    'Elevation_2': 0px 8px 16px rgba(0, 0, 0, .12),
    'Elevation_3': 0px 16px 24px rgba(0, 0, 0, .16)
);

$base-url: '/';//'/assets/';
$font-url: 'fonts/'; 
$img-url: 'images/';

$card-primary-color: #35811d;
