.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
	border: 0.125rem solid #146451;
	border-radius: 0.25rem;
	background-color: #146451;
	color: #fff;
	//font: 700 0.75rem/0 "Montserrat", sans-serif;
	font-family: 'Montserrat';
	font-size: 0.75rem;
	line-height: 0;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.2s;

	&:hover {
		background-color: transparent;
		color: #146451;
		text-decoration: none;
	}
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #146451;
	border-radius: 0.25rem;
	background-color: #146451;
	color: #fff;
	//font: 700 0.75rem/0 "Montserrat", sans-serif;
	font-family: 'Montserrat';
	font-size: 0.75rem;
	line-height: 0;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.2s;

	&:hover {
		background-color: transparent;
		color: #146451;
		text-decoration: none;
	}
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
	border: 0.125rem solid #787976;
	border-radius: 0.25rem;
	background-color: transparent;
	color: #787976;
	//font: 700 0.75rem/0 "Montserrat", sans-serif;
	font-family: 'Montserrat';
	font-size: 0.75rem;
	line-height: 0;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.2s;

	&:hover {
		background-color: #787976;
		color: #fff;
		text-decoration: none;
	}
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #787976;
	border-radius: 0.25rem;
	background-color: transparent;
	color: #787976;
	//font: 700 0.75rem/0 "Montserrat", sans-serif;
	font-family: 'Montserrat';
	font-size: 0.75rem;
	line-height: 0;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.2s;

	&:hover {
		background-color: #787976;
		color: #fff;
		text-decoration: none;
	}
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 0.9375rem 1.625rem;
	border: 0.125rem solid #787976;
	border-radius: 0.25rem;
	background-color: transparent;
	color: #787976;
	//font: 700 0.75rem/0 "Montserrat", sans-serif;
	font-family: 'Montserrat';
	font-size: 0.75rem;
	line-height: 0;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.2s;

	&:hover {
		background-color: #787976;
		color: #fff;
		text-decoration: none;
	}
}
