.checkbox {
	//font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	font-family: 'Open Sans';
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}
