.bgrid {
    float: left;
}

[class*='block-']:after {
    content: '';
    display: table;
    clear: both;
}

.block-1-6 .bgrid {
    width: 16.66667%;
}

.block-1-5 .bgrid {
    width: 20%;
}

.block-1-4 .bgrid {
    width: 25%;
}

.block-1-3 .bgrid {
    width: 33.33333%;
}

.block-1-2 .bgrid {
    width: 50%;
}

.block-1-6 .bgrid:nth-child(6n + 1),
.block-1-5 .bgrid:nth-child(5n + 1),
.block-1-4 .bgrid:nth-child(4n + 1),
.block-1-3 .bgrid:nth-child(3n + 1),
.block-1-2 .bgrid:nth-child(2n + 1) {
    clear: both;
}

@include respond-from('md') {
    .block-tab-1-6 .bgrid {
        width: 16.66667%;
    }
    .block-tab-1-5 .bgrid {
        width: 20%;
    }
    .block-tab-1-4 .bgrid {
        width: 25%;
    }
    .block-tab-1-3 .bgrid {
        width: 33.33333%;
    }
    .block-tab-1-2 .bgrid {
        width: 50%;
    }
    .block-tab-full .bgrid {
        width: 100%;
        clear: both;
    }
    [class*='block-tab-'] .bgrid:nth-child(n) {
        clear: none;
    }
    .block-tab-1-6 .bgrid:nth-child(6n + 1),
    .block-tab-1-6 .bgrid:nth-child(5n + 1),
    .block-tab-1-4 .bgrid:nth-child(4n + 1),
    .block-tab-1-3 .bgrid:nth-child(3n + 1),
    .block-tab-1-2 .bgrid:nth-child(2n + 1) {
        clear: both;
    }
}

.group:after {
    content: '';
    display: table;
    clear: both;
}
